// Set each variable and uncomment the "default" line and copy to "config.tf", otherwise Terraform will prompt you for the value.

variable "auth_file_path" {
	description = "Google Cloud auth file for your project"
	// default = "./auth/account.json"
}

variable "public_key_path" {
	description = "Public key path"
	default = "~/.ssh/gcloud_id_rsa.pub"
}

variable "private_key_path" {
	description = "Private key path"
	default = "~/.ssh/gcloud_id_rsa"
}

variable "project_id" {
	description = "Google Project ID (NOT project name) - must have been created before starting this script"
	// default = "fiery-arctic-12345"
}

variable "project_zone" {
	// Choose a general zone from https://cloud.google.com/about/locations/
	description = "Google Project Zone"
	// default = "us-central1"
}

variable "storage_zone" {
	// Choose a storage zone from https://cloud.google.com/storage/docs/bucket-locations
	// Recommended to match machine zone for reduced latency
	description = "Desired zone for Google Storage (i.e. us-central1)"
	// default = "us-central1"
}

variable "machine_type" {
	// Choose a machine type name from https://cloud.google.com/compute/docs/machine-types#predefined_machine_types
	// Recommended: n1-highcpu-4 for several concurrent transcoding and streaming jobs
	description = "Desired machine type (i.e. n1-highcpu-4)"
	// default = "n1-highcpu-4"
}

variable "machine_zone" {
	// Choose a zone from https://cloud.google.com/compute/docs/regions-zones/regions-zones
	description = "Desired zone for Google Compute (i.e. us-central1-c)"
	// default = "us-central1-c"
}